.main-block {
    position: absolute;
    width: 100%;
    top: -40px;
    max-width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    grid-column: 3/19; 
}

#home {
    position: relative;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 200px);
    margin: auto;
    max-width: 1615px;

    @media only screen 
        and (max-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) {

            nav {
                display: none;
            }
            .detailed.block.episode {
                height: 100%;
            }
    
            .podcast.content {
                width: 100%;
                top: 300px;
            }

            .detailed .info.title {
                margin-top: calc(200px / 5);
            }

            .main-block {
                grid-column: 2/20;
                height: 100%;
            }

            .podcast div {
                width: 100%;
            }

            .subscribe {
                position: absolute;
                bottom: 0;
            }

            .lineButton {
                border-bottom: initial;
                margin-bottom: initial;
            }

    }


}