.image-wrapper {
    width: 50%;
    max-width: 350px;
    max-height: 350px;
}

.image-wrapper img {
    width: 100%;
    max-width: 350px;
}

.info {
    width: 100%;
    font-family: 'Heebo', sans-serif;
}

.title {
    text-align: left;
    /* text-transform: uppercase; */
}

.block.episode {
    width: 25%;
    max-width: 350px;
    display: inline-block;
    border-bottom: 5px solid black;
}

.episode div {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.podcast div {
    width: 70%;
    margin-top: 7%;
    margin: auto;
    position: absolute;
    right: 0;
}

.info.title {
    top: calc(100px / 7);
}

.image-wrapper.play-button {
    width: 20%;
    margin: 2%;
    position: absolute;
    left: 0;
}

.podcast.content {

    position: relative;
    height: 100px;

}