
.image-wrapper {
    width: 50%;
    max-width: 350px;
    max-height: 350px;

    img {
        width: 100%;
        max-width: 350px;
    }
}

.info {
    width: 100%;
    font-family: 'Heebo', sans-serif;
}

.title {
    text-align: left;
    /* text-transform: uppercase; */
}

.block.episode {
    width: 25%;
    max-width: 350px;
    display: inline-block;
    border-bottom: 5px solid black;
}

.episode div {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.podcast div {
    width: 70%;
    margin-top: 7%;
    margin: auto;
    position: absolute;
    right: 0;
}

.info.title {
    top: calc(100px / 7);
}

.image-wrapper.play-button {
    width: 20%;
    margin: 2%;
    position: absolute;
    left: 0;
}

.podcast.content {
    position: relative;
    height: 100px;
}

.detailed.image-wrapper {
    max-width: 450px;
    max-height: initial;
    width: 50%;
    left: 0;
    grid-column: 1/12;
    grid-row: 1/10;
}

.detailed {
    .image-wrapper {
        max-width: 500px;
        left: 0;
        position: absolute;
    }

    .podcast.content {
        grid-column: 13/26;
        grid-row: 2/25;
        height: initial;
    }
    .podcast div {
        right: initial;
        position: relative;
    }
    .image-wrapper img {
        max-width: initial;
        max-height: initial;
    }
    .info.title {
        font-size: 40px;
    }
    .info.date {
        margin-top: 5%;
        text-align: left;
    }
    .info.description {
        margin-top: 2%;
        text-align: left;
        font-size: 20px;
    }

    .detailed-play {
        border-bottom: 5px solid black;
        div {
            display: inline-block;
            width: 30%;
            text-align: left;
        }
        .image-wrapper {
            img {
                width: 50%;
            }
        }
    }

    @media only screen 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {

        .block.episode {
            height: 100%;
        }

        .info.title {
            margin-top: calc(200px / 5);
        }
        .podcast.content {
            width: 100%;
            top: 300px;
        }
    
        .main-block {
            grid-column: 2/20;
            height: 100%;
        }
    
        .podcast div {
            width: 100%;
        }        
    }
}

.detailed.block.episode {
    grid-column: 1/21;
    grid-row: 1/6;
    @media only screen 
    and (min-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        display: grid;
    }
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 50px);
    max-width: initial;
    width: 100%;
    border-bottom: initial;
    height: 450px;
    margin-bottom: 10%;
}