.image-wrapper {
    width: 50%;
    max-width: 350px;
    max-height: 350px;
}

.image-wrapper img {
    width: 100%;
    max-width: 350px;
}

.info {
    width: 100%;
    font-family: 'Heebo', sans-serif;
}

.title {
    text-align: left;
    /* text-transform: uppercase; */
}

.block.episode {
    width: 25%;
    max-width: 350px;
    display: inline-block;
    border-bottom: 5px solid black;
}

.episode div {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.podcast div {
    width: 70%;
    margin-top: 7%;
    margin: auto;
    position: absolute;
    right: 0;
}

.info.title {
    top: calc(100px / 7);
}

.image-wrapper.play-button {
    width: 20%;
    margin: 2%;
    position: absolute;
    left: 0;
}

.podcast.content {
    position: relative;
    height: 100px;
}

.detailed.image-wrapper {
    max-width: 450px !important;
    max-height: initial !important;
    width: 50%;
    left: 0;
    position: absolute !important;
}

.detailed .image-wrapper {
    max-width: 500px !important;
    left: 0;
    position: absolute;
}

.detailed .podcast.content {
    width: 50%;
    height: initial;
    position: absolute;
    right: 0;
    top: 5%;
}

.detailed .podcast div{
    position: relative !important;
}

.detailed .image-wrapper img {
    max-width: initial !important;
    max-height: initial !important;
}

.detailed.block.episode {
    max-width: initial !important;
    width: 100% !important;
    border-bottom: initial !important;
    height: 450px;
    margin-bottom: 10%;
}

.detailed .info.title {
    /* position: absolute !important; */
    font-size: 40px;
}

.detailed .info.date {
    /* position: absolute !important; */
    margin-top: 5%;
    text-align: left;
}

.detailed .info.description {
    margin-top: 2%;
    text-align: left;
    font-size: 20px;
}

.detailed .play-button {
    display: none;
}

.detailed .podcast div {
    right: initial;
}